.period{
    display: inline-block;
}
img{
    display: block;
    width: 175px;    
    margin: auto;

}
body {
    display: inline;
    place-items: center;
    text-align: center;

}
h1{
    font-size: 60px;
    text-decoration-line: underline;


}
h2{
    background-color: aqua;
    width:100%;
    padding:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display : inline; */
    /* border-radius: 20% 30% 20% 30%;
    border-style: solid;
    border-width: 2px; */

}
#div1
{
    background-color: blueviolet;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    width :50%;
    align-items: left;
    float: left;
}
.input
{
    margin-top:30px;
    margin-bottom: 30px;
    display: inline;
}
.button
{
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,black, blue,black);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
button:hover{
    animation: animate 8s linear infinite;
}

button:hover:before{
    filter: blur(10px);
    opacity: 1;
}
/* .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg,#535572 0%,#252A36);
} */
@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#div2
{
    margin: 0%;
    padding: 0%;
} 
#head2
{
    margin :21px;
}
#player 
{
    float: left;
    width: 25%;

}
#computer
{
    width: 25%;
    float: right;
}